{% extends 'base.html.twig' %}

{% block main %}

        {% for new in news %}

            <article>
                <a href="{{ path('new',{'id':new.id}) }}">
                <h2>{{ new.title }}</h2>
                {% if new.picture %}
                <img src="{{ new.picture }}" alt="picture of the subject">
                {% endif %}
                </a>
                <p>{{ new.content }}</p>
            </article>

        {% endfor %}

{% endblock %}