@import "var/colors";
@import "blocks/header";




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo{
  border-radius: 50%;
  width: 4rem;
}

.sign-in{
  background-image: url("../img/image-sign-in.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.sign-in .form{
  background-color: $bright-color;
  border-radius: 10%;
  border: solid 2px $second-color;
  position: absolute;
  bottom: 25%;
}

#news{
  display: flex;
  display: inline-block;
  padding: 2vw;
  margin: 0 2vw;


}

.news{
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

}
.news img{
  width: 15vw;
  height:20vh;
  border-radius: 10%;
}
.news p, h2{
  width: 15vw;
  text-align: center;
}
h3{
  text-align: center;
  background-color: $second-color;
  color: $bright-color;
  border: solid 1px $primary-color;
  border-radius: 70%;
  padding: 0.5rem 0;
  margin-top: 2rem;
}
